/* src/app/components/task-list/task-list.component.scss */
.task-list-container {
    margin: 20px;
}

.completed {
    text-decoration: line-through;
  }
  .task-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .actions {
    display: flex;
    gap: 5px;
  }
  